# --- File temporanei / di build LaTeX ---
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# --- Cache/bytecode Python ---
__pycache__/
*.py[cod]
*.$py.class

# --- File di sistema vari ---
.DS_Store
Thumbs.db
